<title>USERS - MasterBoard</title>
@include('layout.header')
<link rel="stylesheet" href="{{ asset('assets2/bundles/datatables/datatables.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets2/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets2/css/components.css') }}">
<style>
    .input1{
        border:1px solid black;
    }
</style>
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="">Demo 
                            {{-- <div class="d-flex d-grid justify-content-end" style="margin-top:-25px;">
                                <button type="button" id="modalbtn" style="color:white;"
                                    class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class=" mdi mdi-library-plus"
                                        style="color:white"></i>
                                </button>
                            </div> --}}
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-hover text-center" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Picture</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach ($usersData as $value)
                                        <tr>
                                            <td>{{ $value->id }}</td>
                                            <td class="py-1">
                                                <img src="storage/imgs/{{ $value->picture }}" alt="image"/>
                                              </td>
                                            <td>{{ $value->name }}</td>
                                            <td>{{ $value->email }}</td>
                                            <td>
                                                <button type="button" id="editbtn" data-id=""
                                                    class="btn btn-secondary btn-sm"><i
                                                        class="mdi mdi-pencil-box-outline"
                                                        style="color:white"></i></button>

                                                <button type="button" id="deletebtn" data-id=""
                                                    class="btn btn-danger btn-sm"><i class="mdi mdi-delete-forever"
                                                        style="color:white"></i></button>

                                                <a href="" class="">
                                                    <button class="btn btn-primary btn-sm"><i
                                                            class="mdi mdi-checkbox-multiple-blank"
                                                            style="color:white"></button></a>
                                            </td>
                                        </tr>
                                    @endforeach
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    @include('layout.footer')

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-group" id="loginform">
                        @csrf
                        <input type="hidden" name="id" id="eid">
                        <label for="">Name</label>
                        <input type="text" class="form-control" style="border:1px solid black;" name="name"
                            id="name">
                        <label for="">Caste</label>
                        <input type="text" class="form-control" style="border:1px solid black;" name="caste"
                            id="caste">
                        <label for="">Cite</label>
                        <input type="text" class="form-control" style="border:1px solid black;" name="city"
                            id="city">
                        <label for="">Country</label>
                        <input type="text" class="form-control" style="border:1px solid black;" name="country"
                            id="country">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" style="color:white"
                                id="savebtn">Save</button>
                            <button type="button" class="btn btn-success" style="color:white"
                                id="updatebtn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal End -->

       
